.DS_Store
Exp1/analisi/tieni da parte.txt
.vscode/settings.json
Exp1/analisi/compute
Exp1/report/Report 1.aux
Exp1/report/Report 1.fdb_latexmk
Exp1/report/Report 1.fls
Exp1/report/Report 1.log
Exp1/report/Report 1.synctex.gz
